<%- include("partials/header.ejs") %>
<h1>Contact me</h1>
<h2>My name: Emiliano Carranza</h2>
<h2>My adress: Fondo de Bikini #2473</h2>
<h2>My phone: +777 7777 7777 77</h2>
<h2>My email: emilianocarranza@mail.com</h2>
<%- include("partials/footer.ejs") %>